@model ProductoVM

@{
    var title = Model.ProductoId == 0 ? "Nuevo Producto" : "Editar Producto";
    var btnAction = Model.ProductoId == 0 ? "Agregar" : "Guardar";
}

<div class="row">

    <h2>@title</h2>
    <hr />

    <div class="col-6">

        <form action="/Producto/AddEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="ProductoId" />

            <div class="mb-3">
                <label class="form-label">Categoría</label>
                <select class="form-select" asp-for="Categoria.CategoriaId" asp-items="Model.Categorias">
                    <option selected disabled>--selecciona--</option>
                </select>
                <span asp-validation-for="Categoria.CategoriaId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" asp-for="Nombre" autocomplete="off" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <textarea id="summernote" class="form-control" asp-for="Descripcion"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input type="number" class="form-control" asp-for="Precio" autocomplete="off" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="number" class="form-control" asp-for="Stock" autocomplete="off" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Subir Imagen</label>
                <input type="file" class="form-control" asp-for="ImagenArchivo" />
            </div>

            @if (ViewBag.MensajeExito != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.MensajeExito
                </div>
            }

            <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary" type="submit">@btnAction</button>
                <a href="/Producto/Index" class="btn btn-warning">Salir</a>
            </div>
        </form>

    </div>

    <div class="col-6">

        <img src="/imagenes/@Model.ImagenNombre"
             class="rounded"
             width="300"
             height="320"
             alt="@Model.Nombre" />

    </div>
</div>

@section Styles {
    <link href="~/lib/summernote/dist/summernote-bs5.min.css" rel="stylesheet" />
    <link href="~/lib/summernote/dist/summernote.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/summernote/dist/summernote-bs5.min.js"></script>
    <script src="~/lib/summernote/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
}

